<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>10 years of experience in the IT field with a focus on designing and implementing IT systems for world's biggest companies. Highly motived, team supporting and customer-oriented person.</p>
      </div>
      <div class="col-lg-4">
        <p>Professional knowledge of:</p>
	<ul>
<li>OSS systems for Telco companies</li>
<li> MES systems for manufacturing companies</li>
<li>project management and project delivery methods</li>
<li> BPM (Business Process Management): Pega 7, 8</li>
<li> CRM (Customer Relationship Management): Pega 7, 8</li>
</ul>
      </div>

    </div>
  </div>
</section>
