<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>12+ years</b> of experience in the IT field with a focus on designing and implementing IT systems for world's biggest companies. <i>Highly motived</i>, <i>tech-savvy</i>, <i>team supporting</i> and <i>customer-oriented</i> person.</p>
      </div>
      <div class="col-lg-4">
        <p>Professional knowledge of: project management and project delivery methods, BPM, Low-code platforms, Pega 7, 8</p>
    </div>
  </div>
</section>
