<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>12+ years</b> of experience in the IT field with a focus on designing and implementing large scale IT systems for world's biggest companies. <i>Highly motived</i>, <i>tech-savvy</i>, <i>team supporting</i> and <i>customer-oriented</i> person.</p>
      </div>
      <div class="col-lg-4">
        <p>Professional knowledge of: software design, enterprise architecturem project management and project delivery methods, BPM, CRM, Low-code platforms and Pega 7/8 suite.</p>
    </div>
  </div>
</br>
<div class="row">
  <div class="col-lg-12 text-center">
    <h3>Certifications</h3>
    <p>My certificatinos (amongs the others)</p>
  </div>
</div>
</br>
    <div class="row">


    <div class="col-lg-4 text-center">
     

  <center><img src="img/TOGAF.png" class="img-responsive" alt="{{ post.alt }}"></center>
    </div>
    <div class="col-lg-4 text-center">
     
     
      <center><img src="img/LSA.png" class="img-responsive" alt="{{ post.alt }}"></center>
        </div>
        <div class="col-lg-4 text-center">
    
          <center>   <img src="img/PSM.png" class="img-responsive" alt="{{ post.alt }}"></center>
            </div>
         
  </div>
</section>
